.row {
  display: flex;
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
  width: fit-content;
}
.row:last-child {
  border-bottom: 1px solid #999999;
}
.cell {
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-left: 1px solid #999999;
}
.custom {
  background: #FFE1FF;
}
.center {
  color: #0000ff;
}
.corner {
  color: #ff0000;
}
